<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div class="container">
            <p class="text-center">
                <a href="http://nowcoder.com/about">关于我们</a>
                <a href="http://nowcoder.com/download">头条客户端</a>
            </p>
            <p class="text-center">© 2013-2016 头条八卦</p>
        </div>
        <script type="text/javascript" src="/scripts/jquery.js"></script>
        <script type="text/javascript" src="/scripts/main/base/base.js"></script>
        <script type="text/javascript" src="/scripts/main/base/util.js"></script>
        <script type="text/javascript" src="/scripts/main/base/event.js"></script>
        <script type="text/javascript" src="/scripts/main/component/component.js"></script>
        <script type="text/javascript" src="/scripts/main/component/popup.js"></script>
        <script type="text/javascript" src="/scripts/main/component/popupLogin.js"></script>
        <script type="text/javascript" src="/scripts/main/site/home.js"></script>
    </footer>
</div>
</body>
</html>